<form name="form" #productForm="ngForm" (keydown.enter)="$event.preventDefault()" novalidate>

<h5>Product component- A Feature Component</h5>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>

<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row required-field">
	<div class="col-md-4">
		<label class="cus-form-label">Product Name</label>
		<input class="form-control minimal" id="productName"  name="productName"
            [(ngModel)]="productField.productName">
	</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row required-field">
	<div class="col-md-4">
		<label class="cus-form-label">Product Code</label>
		<input class="form-control minimal" id="productCode" name="productCode"
            [(ngModel)]="productField.productCode">
	</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row required-field">
	<div class="col-md-4">
		<label class="cus-form-label">Product Description</label>
		<input class="form-control minimal" id="productDescription" name="productDescription"
            [(ngModel)]="productField.productDescription">
	</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<button type="button" (click)="SubmitForm()" class="btn btn-primary">Submit Form</button>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
</form>